<div class="container">
  
    <div class="card d-block mx-auto mt-5" style="width: 25rem;">
    <div id="c2" class="container  pt-4">
      <img class="card-img-top" src="/assets/Id_logo.jpeg"  >
      <img class="card-img" src="/assets/muzamil.jpeg" >
    <div class="card-body">
      <h6 class="card-title">MOHAMMED MUZAMILUDDIN</h6>
      
        <div class="row">
          <div class="col-sm-6">
            <ul>
              <li class="ps-4">Roll no :</li>
              <li class="ps-4">Branch :</li>
              <li class="ps-4">Batch :</li>
              <li class="ps-4">Library Id :</li>
              <li class="ps-4">Student Chapter :</li>
              <li class="ps-4">Bus route :</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul>
              <li>20075A1205</li>
              <li>B.Tech-I.T</li>
              <li>2020-2023</li>
              <li>190705</li>
              <li>ACM</li>
              <li>8</li>
            </ul>
          </div>
        </div>
      
    </div>
  
    </div>
  </div>
  
  
  </div>